<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/heading/studentHeading :: studentHeading(title = 'Student Dashboard')}"></th:block>
<link rel="stylesheet" th:href="@{/css/student/subjectContent.css}">
<body>
<div class="container-fluid">
  <th:block th:insert="~{fragments/student/util/sidebar :: sidebar(active = 'attendance', navigator = ${navigator})}"/>
  <div id="main">
    <th:block th:replace="~{fragments/student/util/navbar :: navbar(student = ${student})}"/>
    <div class="row px-2 mt-3">
      <th:block th:if="${classes == null || classes.size() == 0}">
        <div class="col-12 d-flex justify-content-center">
          <img th:src="@{/images/nodata.gif}" alt="nodata">
        </div>
      </th:block>

      <th:block th:if="${classes != null}" th:each="classEntity : ${classes}">
        <a th:href="@{/attendance/{id}(id=${classEntity.id})}" class="col-12 col-md-4 text-black">
          <div class="content pe-2 border rounded shadow card card-body border-end">
            <h3 class="text-title" th:text="${classEntity.name}"></h3>
            <div class="d-flex mb-2">
              <i><strong>Present: </strong></i> <span class="mx-2 text-muted" th:text="${classEntity?.present} + ' students'"></span>
            </div>
            <div class="d-flex">
              <i><strong>Form Teacher: </strong></i> <span class="mx-2 text-muted" th:text="${classEntity?.chairman?.fullName}"></span>
            </div>
          </div>
        </a>
      </th:block>
    </div>
  </div>
</div>
<th:block th:replace="~{fragments/script/util/baseScript :: baseScript}"/>
</body>
</html>