<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/heading/studentHeading :: studentHeading(title = 'Student Dashboard')}"></th:block>
<link rel="stylesheet" th:href="@{/css/student/subjectContent.css}">
<body>
<div class="container-fluid">
    <th:block th:insert="~{fragments/student/util/sidebar :: sidebar(active = 'change-password', navigator = ${navigator})}"/>
    <div id="main">
        <th:block th:replace="~{fragments/student/util/navbar :: navbar(student = ${student})}"/>
        <div class="mt-5 card card-body shadow rounded">
            <div class="row">
                <div class="content__left col-md-6 col-12">
                    <div class="form-group has-icon-left">
                        <label for="username" class="mb-2">Username</label>
                        <div class="position-relative">
                            <input type="text" class="form-control"
                                   placeholder="Username" id="username" th:value="${student.name}" disabled>
                            <div class="form-control-icon">
                                <i class="bi bi-person-fill"></i>
                            </div>
                        </div>
                    </div>

                    <div class="validationRules mt-5 text-secondary">
                        <h5>Password must meet the following requirements:</h5>
                        <ul style="letter-spacing: 2px;line-height: 1.4;">
                            <li>Must be greater than <strong class="text-success">9</strong> character</li>
                            <li>Must contain at <strong class="text-success">least one</strong> character uppercase</li>
                            <li>Must contain at <strong class="text-success">least one</strong> character lowercase</li>
                            <li>Must contain at <strong class="text-success">least one</strong> special character</li>
                            <li>Must contain at <strong class="text-success">least a</strong> number</li>
                        </ul>
                    </div>
                </div>
                <div class="content__right col-md-6 col-12">
                    <div class="form-group has-icon-left">
                        <label for="newPassword" class="mb-2">New Password</label>
                        <div class="position-relative">
                            <input type="password" class="form-control password-field"
                                   placeholder="New Your Password" id="newPassword">
                            <div class="form-control-icon">
                                <i class="bi bi-key-fill icon-password"></i>
                                <i class="bi bi-check2 hide"></i>
                            </div>
                        </div>
                    </div>

                    <!--                confirm new your password-->
                    <div class="form-group has-icon-left">
                        <label for="newPasswordConfirm" class="mb-2">Confirm</label>
                        <div class="position-relative">
                            <input type="password" class="form-control"
                                   placeholder="Confirm Your Password" id="newPasswordConfirm">
                            <div class="form-control-icon">
                                <i class="bi bi-key-fill icon-password-confirm"></i>
                                <i class="bi bi-check2 hide"></i>
                            </div>
                        </div>
                    </div>

                    <span class="error">Invalid password</span>

                    <button id="submit" class="btn btn-primary" style="width: 100%">Reset Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/script/util/baseScript :: baseScript}"/>
<script th:src="@{/js/util/validatePassword.js}"></script>
<script th:src="@{/js/util/resetPassword.js}"></script>
</body>
</html>