<div th:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-0 mt-3">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr class="table-header">
                            <th class="text-center">UserName</th>
                            <th class="text-center">Full Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Avatar</th>
                            <th class="text-center">Status</th>
                            <th class="text-center" colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-body navigators">

                    </tbody>
                    <tfoot class="pagination mt-3">

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>