<nav th:fragment="navbar" class="navbar navbar-light bg-light  d-flex justify-content-between align-items-center px-3">
    <div class="nav navbar-nav">
        <h3>Classes</h3>
    </div>
    <div class="nav navbar-nav flex-row">
<!--        list selection semester -->
        <select name="semesters" id="semesters" class="rounded badge-outline-primary">
            <option value="current">-- Current Semester --</option>
        </select>
        <!--        list button add, filter, sort-->
        <div class="btn-group px-2">
            <button type="button" class="btn btn-outline-primary">
                Filter
            </button>
        </div>
        <div class="btn-group px-2">
            <button type="button" class="btn btn-outline-primary">
                Sort
            </button>
        </div>
        <div th:class="'btn-group px-2 ' + ${isDetail ? 'd-none' : ''}">
            <button type="button" class="btn btn-primary btn-add" data-bs-toggle="modal" data-bs-target="#addClass" role="button" >
                <i class="bi bi-plus-lg"></i>
                <span>Add Class</span>
            </button>
        </div>

        <div th:class="'btn-group px-2 ' + ${isDetail ? '' : 'd-none'}" >
            <button class="btn btn-primary btn-export">
                <i class="bi bi-download"></i>
                Export
            </button>

            <button class="btn btn-danger text-white btn-delete">
                <i class="bi bi-trash"></i>
                Delete
            </button>
        </div>
    </div>
</nav>