<th:block xmlns="http://www.thymeleaf.org" th:fragment="content">

    <div class="container-fluid">
        <div class="row">
            <div class="classes row my-2 p-0">

            </div>
            <div class="pagination"></div>
        </div>
        <div class="row">
            <div class="col-12  row">

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="calendar" class="schedule-review">
                    <!--will be injected lib-->
                </div>
            </div>
        </div>
    </div>
</th:block>