<th:block xmlns="http://www.thymeleaf.org" th:fragment="review">

    <div class="container-fluid">
        <div class="clearfix mx-0 mt-2">
            <div class="classes row my-2 p-0 shadow-sm" style="min-height: 450px">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <h5 class="text-title-small">Select <strong class="text-dark">Semester</strong> and <strong class="text-dark">Level</strong> for get all classes</h5>
                    <img src="/images/nodata.gif"
                         class="img-fluid"
                         alt="">
                </div>
            </div>
            <div class="pagination"></div>
        </div>
    </div>
</th:block>