<th:block xmlns="http://www.thymeleaf.org" th:fragment="baseScript">
  <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/2.0.2/umd/popper.js}"></script>
  <script th:src="@{/vendors/sweetalert2/sweetalert2.all.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/admin/dashboard/sidebar.js}"></script>
  <script th:src="@{/js/admin/dashboard/dashboard.js}"></script>
  <script th:src="@{/js/util/signout.js}"></script>
</th:block>