<div th:fragment="activities" class="row activities">
  <div class="text-title">
    <h3 class="text-uppercase pb-3">Some Of Our <span class="highlight">Activies</span></h3>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 activity">
    <div class="thumbnail">
      <i class="fa-solid fa-volleyball" style="color: #ffffff;"></i>
    </div>
    <div class="content">
      <h4 class="text-title">Sport</h4>
      <p class="text-description">
        Sports are games such as football and other leisure activities which need physical effort and skill.
      </p>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 activity">
    <div class="thumbnail">
      <i class="fa-solid fa-music" style="color: #ffffff;"></i>
    </div>
    <div class="content">
      <h4 class="text-title">Music</h4>
      <p class="text-description">
        Music is expresses ideas and emotions in significant forms through the elements of rhythm and melody.
      </p>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 activity">
    <div class="thumbnail">
      <i class="fa-solid fa-feather-pointed" style="color: #ffffff;"></i>
    </div>
    <div class="content">
      <h4 class="text-title">Painting</h4>
      <p class="text-description">
        painting is the expression or application of human creative skill and imagination in a visual form.
      </p>
    </div>
  </div>
</div>