<div th:fragment="blogs" class="row blogs">
  <div class="col-12">
    <div class="text-title">
      <h3 class="text-uppercase pb-3">From Our <span class="highlight">blog</span></h3>
    </div>
  </div>
  <div class="col-lg-3 col-12">
    <div class="blog-card spring-fever">
      <div class="title-content">
        <h3>SPRING FEVER</h3>
        <hr />
        <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
      </div><!-- /.title-content -->
      <div class="card-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna
        aliqua. Ut enim ad minim.
      </div><!-- /.card-info -->
      <div class="utility-info">
        <ul class="utility-list">
          <li class="comments">12</li>
          <li class="date">03.12.2015</li>
        </ul>
      </div><!-- /.utility-info -->
      <!-- overlays -->
      <div class="gradient-overlay"></div>
      <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
  </div>
  <div class="col-lg-3 col-12">
    <div class="blog-card spring-fever">
      <div class="title-content">
        <h3>SPRING FEVER</h3>
        <hr />
        <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
      </div><!-- /.title-content -->
      <div class="card-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna
        aliqua. Ut enim ad minim.
      </div><!-- /.card-info -->
      <div class="utility-info">
        <ul class="utility-list">
          <li class="comments">12</li>
          <li class="date">03.12.2015</li>
        </ul>
      </div><!-- /.utility-info -->
      <!-- overlays -->
      <div class="gradient-overlay"></div>
      <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
  </div>
  <div class="col-lg-3 col-12">
    <div class="blog-card spring-fever">
      <div class="title-content">
        <h3>SPRING FEVER</h3>
        <hr />
        <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
      </div><!-- /.title-content -->
      <div class="card-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna
        aliqua. Ut enim ad minim.
      </div><!-- /.card-info -->
      <div class="utility-info">
        <ul class="utility-list">
          <li class="comments">12</li>
          <li class="date">03.12.2015</li>
        </ul>
      </div><!-- /.utility-info -->
      <!-- overlays -->
      <div class="gradient-overlay"></div>
      <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
  </div>
  <div class="col-lg-3 col-12 d-flex justify-content-center align-content-center">
    <button class="learn-more btn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
      <span class="button-text">Learn More</span>
    </button>
  </div>
</div>