<div th:fragment="blogs" class="row blogs">
  <div class="col-12">
    <div class="text-title">
      <h3 class="text-uppercase pb-3">From Our <span class="highlight">blog</span></h3>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 col-12 d-flex justify-content-center align-items-center blog">
    <div class="blog-card spring-fever">
      <div class="title-content">
        <h3>SPRING FEVER</h3>
        <hr />
        <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
      </div><!-- /.title-content -->
      <div class="card-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna
        aliqua. Ut enim ad minim.
      </div><!-- /.card-info -->
      <div class="utility-info">
        <ul class="utility-list">
          <li class="comments">12</li>
          <li class="date">03.12.2015</li>
        </ul>
      </div><!-- /.utility-info -->
      <!-- overlays -->
      <div class="gradient-overlay"></div>
      <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 col-12 d-flex justify-content-center align-items-center blog">
    <div class="blog-card spring-fever">
      <div class="title-content">
        <h3>SPRING FEVER</h3>
        <hr />
        <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
      </div><!-- /.title-content -->
      <div class="card-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna
        aliqua. Ut enim ad minim.
      </div><!-- /.card-info -->
      <div class="utility-info">
        <ul class="utility-list">
          <li class="comments">12</li>
          <li class="date">03.12.2015</li>
        </ul>
      </div><!-- /.utility-info -->
      <!-- overlays -->
      <div class="gradient-overlay"></div>
      <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 col-12 d-flex justify-content-center align-items-center blog">
    <div class="blog-card spring-fever">
      <div class="title-content">
        <h3>SPRING FEVER</h3>
        <hr />
        <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
      </div><!-- /.title-content -->
      <div class="card-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna
        aliqua. Ut enim ad minim.
      </div><!-- /.card-info -->
      <div class="utility-info">
        <ul class="utility-list">
          <li class="comments">12</li>
          <li class="date">03.12.2015</li>
        </ul>
      </div><!-- /.utility-info -->
      <!-- overlays -->
      <div class="gradient-overlay"></div>
      <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 col-12 align-items-center d-flex justify-content-center">
    <button class="cta d-flex w-100 justify-content-center">
      <span class="hover-underline-animation">More Articles</span>
      <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
        <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
              data-name="Path 10" id="Path_10"></path>
      </svg>
    </button>
  </div>
</div>