<div th:fragment="join_us" class="row join-us" th:style="'background:url('+ @{/images/contact_background.svg} +');'">
  <div class="col-12">
    <div class="content text-center">
      <h2 class="text-title">Join Us Today !</h2>
      <p class="text-description join-description">
        Rapkhen is an outstanding Nursery & Primary school targeting educational System, helping Kids to read and
        write and to
        establish strong identity on the internet with real developing knowledge & understanding.
      </p>
      <a th:href="@{'/?component=contact'}" class="btn rounded btn-contact">
        <button class="me-3 text-white">Contact Us</button>
        <i class="fa-solid fa-arrow-right-long" style="color: #ffffff;"></i>
      </a>
    </div>
  </div>
</div>