<div th:fragment="staff" class="row staff">
  <div class="text-title mt-3">
    <h3 class="text-uppercase pb-3">Meet Our <span class="highlight">Staff</span></h3>
  </div>
  <div id="recipeCarousel" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <div class="img-wrapper">
            <img src="./images/avt.png" class="d-block w-100" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title staff-name">Afuwape J. Abiodun</h5>
            <p class="card-text staff-position">Headmistress</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="img-wrapper">
            <img src="./images/avt.png" class="d-block w-100" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title staff-name">Afuwape J. Abiodun</h5>
            <p class="card-text staff-position">Headmistress</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="img-wrapper">
            <img src="./images/avt.png" class="d-block w-100" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title staff-name">Afuwape J. Abiodun</h5>
            <p class="card-text staff-position">Headmistress</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="img-wrapper">
            <img src="./images/avt.png" class="d-block w-100" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title staff-name">Afuwape J. Abiodun</h5>
            <p class="card-text staff-position">Headmistress</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="img-wrapper">
            <img src="./images/avt.png" class="d-block w-100" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title staff-name">Afuwape J. Abiodun</h5>
            <p class="card-text staff-position">Headmistress</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="img-wrapper">
            <img src="./images/avt.png" class="d-block w-100" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title staff-name">Afuwape J. Abiodun</h5>
            <p class="card-text staff-position">Headmistress</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="img-wrapper">
            <img src="./images/avt.png" class="d-block w-100" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title staff-name">Afuwape J. Abiodun</h5>
            <p class="card-text staff-position">Headmistress</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="img-wrapper">
            <img src="./images/avt.png" class="d-block w-100" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title staff-name">Afuwape J. Abiodun</h5>
            <p class="card-text staff-position">Headmistress</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div>
          <div class="card-body">
            <h5 class="card-title staff-name">Afuwape J. Abiodun</h5>
            <p class="card-text staff-position">Headmistress</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>