<div th:fragment="banner" class="row banner">
    <div class="col-12 col-md-8 banner-content">
        <div class="content">
            <h3 class="text-title">
                <strong>Lorem Isum</strong> dolor <span class="highlight">sit amet</span>
            </h3>
            <p class="text-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, mollitia tenetur. Necessitatibus,
                maxime atque minus iusto nobis perferendis placeat, asperiores commodi tenetur dolore minima rem
                voluptates
                laboriosam quidem suscipit. Eligendi.
            </p>
            <a href="#" class="btn rounded btn-more-info">
                <button class="me-3 text-white">More info</button>
                <i class="fa-solid fa-arrow-right-long" style="color: #ffffff;"></i>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4 mt-5">
        <img th:src="@{/images/banner.svg}" class="img-fluid rounded-top banner-image" alt="">
    </div>
</div>
