<footer th:fragment="footer" class="row footer">
  <div class="col-12">
    <h2 class="text-center footer-logo">Teacholy</h2>
    <hr class="w-100 bg-white">
    <ul class="header-title d-flex justify-content-around align-items-center row text-center list-unstyled ">
      <li class="header-link col-12 col-md-2"><a href="#" class="text-decoration-none">Home</a></li>
      <li class="header-link col-12 col-md-2"><a href="#" class="text-decoration-none">About Us</a></li>
      <li class="header-link col-12 col-md-2"><a href="#" class="text-decoration-none">Management</a></li>
      <li class="header-link col-12 col-md-2"><a href="#" class="text-decoration-none">Blog</a></li>
      <li class="header-link col-12 col-md-2"><a href="#" class="text-decoration-none">Gallery</a></li>
      <li class="header-link col-12 col-md-2"><a href="#" class="text-decoration-none">Contact us</a></li>
    </ul>

    <ul class="socials d-flex justify-content-around align-items-center text-center list-unstyled row">
      <li class="social-link col-12 col-md-3 p-md-3"><a href="#" class="text-decoration-none"><i
              class="fab fa-facebook-f"></i></a></li>
      <li class="social-link col-12 col-md-3 p-md-3"><a href="#" class="text-decoration-none"><i
              class="fab fa-twitter"></i></a></li>
      <li class="social-link col-12 col-md-3 p-md-3"><a href="#" class="text-decoration-none"><i
              class="fab fa-instagram"></i></a></li>
      <li class="social-link col-12 col-md-3 p-md-3"><a href="#" class="text-decoration-none"><i
              class="fab fa-linkedin-in"></i></a></li>
    </ul>
    <div class="text-center copyright">
      <p class="text-white"><i class="fas fa-copyright    "></i> 2023. All Right Reserved.</p>
    </div>
  </div>
</footer>