<head xmlns:th="http://www.thymeleaf.org"
      th:fragment="teacherHeading"
>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/variable/variables.css}">
    <link rel="stylesheet" th:href="@{/css/header/navigation.css}">
    <link rel="stylesheet" th:href="@{/css/admin/dashboard/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/admin/dashboard/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/util/formLayout.css}">
    <link rel="stylesheet" th:href="@{/css/util/avatar.css}">
    <link rel="stylesheet" th:href="@{/css/teacher/util/genderSwitch.css}">
    <link rel="stylesheet" th:href="@{/webjars/fullcalendar/5.11.3/main.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/sweetalert2/sweetalert2.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/select2/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/util/tableResponsive.css}">
</head>