<div th:fragment="content" class="row" >
  <!--  will be rendered by js-->
  <div id="subjects" class="col-12 row">

  </div>
  <div class="card-loaders col-12 row d-none">
    <div th:insert="~{/fragments/util/loader :: loader}" class="col-md-4 col-sm-6 col-xs-12 my-3"></div>
    <div th:insert="~{/fragments/util/loader :: loader}" class="col-md-4 col-sm-6 col-xs-12 my-3"></div>
    <div th:insert="~{/fragments/util/loader :: loader}" class="col-md-4 col-sm-6 col-xs-12 my-3"></div>
  </div>
  <div class="col-12 pagination" id="pagination"></div>
</div>