<!-- Modal -->
<div th:fragment="modalFilter" class="modal fade modal-lg" id="advancedSearch" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId"></h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body form row">
                <div class="form-group has-icon-left col-6">
                    <div class="position-relative">
                        <input type="text" class="form-control"
                               placeholder="Find by Name" id="name">
                        <div class="form-control-icon">
                            <i class="bi bi-journal-code"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group has-icon-left col-6">
                    <div class="position-relative">
                        <input type="text" class="form-control"
                               placeholder="Find by Teacher's Name" id="teacherName">
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-search">Search Results</button>
            </div>
        </div>
    </div>
</div>