<nav
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="navbar"
        class="navbar navbar-light bg-light  d-flex justify-content-between align-items-center px-3 mb-3">
    <nav style="--bs-breadcrumb-divider: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'8\' height=\'8\'%3E%3Cpath d=\'M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z\' fill=\'currentColor\'/%3E%3C/svg%3E');"
         aria-label="breadcrumb"
         class="d-flex align-items-center my-3 justify-content-between"
    >
        <ol class="breadcrumb">
            <li th:each="breadcrumb : ${breadCrumbs}"
                th:class="'breadcrumb-item ' + ${breadcrumb.isActive ? 'active' : ''}">
                <a th:href="${breadcrumb.url}" th:text="${breadcrumb.name}"
                   th:class="'text-decoration-none ' + ${breadcrumb.isActive ? 'active' : ''}"></a>
            </li>
        </ol>
    </nav>
    <div th:class="' nav navbar-nav flex-row justify-content-end ' + ${isDetail ? 'd-none ' : ' '} + ${!isFilter ? 'd-none' : ''}">
        <!--        list button add, filter, sort-->
        <div class="rs-select2--light rs-select2--md ms-3">
            <select class="js-select2 select_department" name="property">
                <option selected="selected" value="0">All Departments</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button th:class="'au-btn-filter ms-3 ' + ${isFilter ? '' : 'd-none'} " type="button" data-bs-toggle="modal" data-bs-target="#advancedSearch"
                aria-expanded="false"
                aria-controls="contentId">
            <i class="bi bi-filter"></i>
            <span>Filters</span>
        </button>

        <button th:class="${isDetail ? '' : 'd-none'} + ' btn btn-primary au-btm'">
            <i class="bi bi-plus"></i>
            <span>Add</span>
        </button>
    </div>

    <div th:class="'gap-2 nav navbar-nav flex-row justify-content-end ' + ${isSemesterShow ? '' : 'd-none'}">
        <!--        list button add, filter, sort-->
        <div class="rs-select2--light rs-select2--md ms-3">
            <select class="js-select2" id="select_semester" name="property">
                <option selected="selected" >Current Semester</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button th:class="'btn btn-primary au-btn ms-3 btn-save ' + ${isSemesterShow ? '' : 'd-none '} + ${isDetail ? 'd-none' : ''}">
            <i class="bi bi-upload"></i>
            <span>Save</span>
        </button>


        <button th:class="'btn btn-primary au-btn ms-3 btn-add-lessons ' + ${!isDetail ? 'd-none' : ''}">
            <i class="bi bi-plus au-btn-icon"></i>
            <span>Add Lessons</span>
        </button>

        <button th:class="'btn-edit btn btn-primary au-btn ms-3 btn-add-lessons ' + ${!isDetail ? 'd-none' : ''}">
            <i class="bi bi-plus au-btn-icon"></i>
            <span>Edit</span>
        </button>
    </div>
</nav>