<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/htmlHead :: head(title = 'Contact Us')}"/>
<body>
    <div class="container-fluid m-0">
        <th:block th:insert="~{fragments/util/navigation :: navigation(active = 'contact')}" />
        <th:block th:insert="~{fragments/landing/contact :: contact}" />
        <th:block th:insert="~{fragments/util/footer :: footer}" />
    </div>
    <th:block th:insert="~{fragments/scripts :: scripts}"/>
</body>
</html>