<div th:fragment="sidebar" id="sidebar" class="active" xmlns:th="http://www.thymeleaf.org">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a th:href="@{/student/home}" class="text-decoration-none text-title"><h2>Student Management</h2></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Dashboard</li>
                <li th:class="'sidebar-item ' + ${#strings.equals(active, 'index') ? 'active' : ''}">
                    <a th:href="@{/student/home}" class='sidebar-link'>
                        <i class="bi bi-file-zip-fill"></i>
                        <span>Subjects Enrolled</span>
                    </a>
                </li>

                <li class="sidebar-title">Menu</li>

                <li th:class="'sidebar-item ' + ${#strings.equals(active, 'time-table') ? 'active' : ''}">
                    <a th:href="@{/student/time-table}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Time Table</span>
                    </a>
                </li>

                <li th:class="'sidebar-item ' + ${#strings.equals(active, 'self-attendance') ? 'active' : ''}">
                    <a th:href="@{/student/self-attendance}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Self Attendance</span>
                    </a>
                </li>

                <li th:class="'sidebar-item ' + ${#strings.equals(active, 'navigator') ? 'active ' : ' '} +  ${navigator?.status != null ? 'has-sub' : ''}">
                    <th:block th:if="${navigator?.status == null}">
                        <a th:href="@{/student/navigator-registration}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Navigator Registration</span>
                        </a>
                    </th:block>

                    <th:block th:if="${navigator?.status != null}">
                        <a href="#" class='sidebar-link '>
                            <i class="bi bi-grid-fill"></i>
                            <span>Navigator</span>
                        </a>

                        <ul class="submenu">
                            <li th:class="'submenu-item ' + ${#strings.equals(active, 'attendance') ? 'active' : ''}">
                                <a th:href="@{/attendance}" class="submenu-link">
                                    <i class="bi bi-calendar-check"></i>
                                    <span>Attendance</span>
                                </a>
                            </li>
                        </ul>
                    </th:block>
                </li>

                <li class="sidebar-title">Account</li>
                <li th:class="'sidebar-item ' + ${#strings.equals(active, 'profile') ? 'active' : ''}">
                    <a th:href="@{/student/profile}" class='sidebar-link'>
                        <i class="bi bi-person-fill"></i>
                        <span>Profile</span>
                    </a>
                </li>

                <li th:class="'sidebar-item ' + ${#strings.equals(active, 'change-password') ? 'active' : ''}">
                    <a th:href="@{/student/change-password}" class='sidebar-link'>
                        <i class="bi bi-key-fill"></i>
                        <span>Change Password</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <button class="sidebar-link dropdown-item logout fw-bold">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Logout</span>
                    </button>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>