<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Internal Server Error</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/variable/variables.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center mt-5">
                <img th:src="@{/images/500.svg}" alt="404" srcset="" style="max-width: 500px" class="img-fluid">
            </div>
        </div>

        <div class="col-12">
            <div class="text-content d-flex justify-content-center align-items-center flex-column">
                <h1>500 Error</h1>
                <p>
                    It seems that we are having some technical issues, please try again later.
                </p>

                <a href="/" class="btn btn-primary">Go To Homepage</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>