<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/heading/landingHeading :: landingHeading(title = 'Home')}"/>
<body>
<div th:replace="~{fragments/util/navigation :: navigation(active = '/')}"></div>
<div class="container-fluid">
    <div th:replace="~{fragments/util/banner :: banner}"></div>
    <div th:replace="~{fragments/landing/activities :: activities}"></div>
    <div th:replace="~{fragments/landing/blog :: blogs}"></div>
    <div th:replace="~{fragments/landing/staff :: staff}"></div>
    <div th:replace="~{fragments/landing/join_us :: join_us}"></div>
    <div th:replace="~{fragments/util/footer :: footer}"></div>
    <th:block th:insert="~{fragments/scripts :: scripts}"/>
</div>
</body>
</html>