<div th:fragment="sidebar" id="sidebar" class="active" xmlns:th="http://www.thymeleaf.org">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a th:href="@{/teacher/home}" class="text-decoration-none text-title"><h2>Teacher Management</h2></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Class Monitor</li>
                <li th:class="'sidebar-item '  + ${#strings.equals(active, 'form-teacher') ? 'active' : ''}">
                    <a th:href="@{/teacher/form-teacher}" class='sidebar-link'>
                        <i class="bi bi-mortarboard"></i>
                        <span>Form Teacher</span>
                    </a>
                </li>

                <li class="sidebar-title">Subjects Enrolled</li>
                <th:block th:each="subject : ${teacher.subjects}">
                    <li th:class="'sidebar-item ' + ${#strings.equals(active, subject.id) ? 'active' : ''}">
                        <a th:href="@{/teacher/enroll/{id}(id=${subject.id})}" class="sidebar-link">
                            <i class="bi bi-book-half"></i>
                            <span th:text="${subject.name}"></span>
                        </a>
                    </li>
                </th:block>

                <li class="sidebar-title">Settings</li>

                <li class="sidebar-item">
                    <button class="sidebar-link dropdown-item logout fw-bold">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Logout</span>
                    </button>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>